<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfred.translatehub</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>0AE96A85-A05A-4DC6-8523-E33A04796847</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>87D6AB39-E3D7-44E7-A1ED-80EEFDF3186E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>DA9E4A8B-9C7C-4F47-82A2-1239B5F2F747</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F88F5A42-3801-4D32-BC33-67B09E2A9AFE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4357B4F8-5E9F-4574-8BC7-7B7075E8DE34</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>65FEF5F1-F140-45CC-8078-176475DD8682</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>65FEF5F1-F140-45CC-8078-176475DD8682</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0AE96A85-A05A-4DC6-8523-E33A04796847</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>873A57F6-15B7-4E3D-A1E7-533DA90E527F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4357B4F8-5E9F-4574-8BC7-7B7075E8DE34</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9F0D68FD-6BE7-4FEF-A7A8-C9DC9BF4F20C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>873A57F6-15B7-4E3D-A1E7-533DA90E527F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F6134F60-3011-4706-8F65-DD4E254A1B52</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FE043C6D-32FE-433F-A9DF-EC68CB70C1AD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FE043C6D-32FE-433F-A9DF-EC68CB70C1AD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>13274E16-FA3F-4805-BC8A-6490D1F39F7D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>mohaiyo</string>
	<key>description</key>
	<string>Utilize the translation API or AI capabilities on the cloud platform, combined with the Alfred workflow, to achieve rapid translation and enhance your work efficiency.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Translate Hub v0.0.1</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Your platform API has been successfully set to {var:name}</string>
				<key>title</key>
				<string>Platform API set successfully</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>87D6AB39-E3D7-44E7-A1ED-80EEFDF3186E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node lib/esm/set.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>65FEF5F1-F140-45CC-8078-176475DD8682</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>8</integer>
				<key>hotmod</key>
				<integer>1703936</integer>
				<key>hotstring</key>
				<string>C</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>9F0D68FD-6BE7-4FEF-A7A8-C9DC9BF4F20C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>trc</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./node_modules/.bin/run-node lib/esm/use.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Use 'use' keyword to set platform. Use 'target' keyword to set target language.</string>
				<key>title</key>
				<string>Translation set up.</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>873A57F6-15B7-4E3D-A1E7-533DA90E527F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:name}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Platform</string>
						<key>uid</key>
						<string>DA9E4A8B-9C7C-4F47-82A2-1239B5F2F747</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Target Language</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>0AE96A85-A05A-4DC6-8523-E33A04796847</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>,</string>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>4357B4F8-5E9F-4574-8BC7-7B7075E8DE34</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Your translation target language has been successfully set to {var:target}</string>
				<key>title</key>
				<string>Target language set successfully</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F88F5A42-3801-4D32-BC33-67B09E2A9AFE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>tr</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>wait a moment...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node lib/esm/index.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Please input something!</string>
				<key>title</key>
				<string>Translation Assistant.</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FE043C6D-32FE-433F-A9DF-EC68CB70C1AD</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>17</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>T</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>F6134F60-3011-4706-8F65-DD4E254A1B52</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>13274E16-FA3F-4805-BC8A-6490D1F39F7D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Utilize the translation API or AI capabilities on the cloud platform, combined with the Alfred workflow, to achieve rapid translation and enhance your work efficiency.</string>
	<key>uidata</key>
	<dict>
		<key>0AE96A85-A05A-4DC6-8523-E33A04796847</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
		<key>13274E16-FA3F-4805-BC8A-6490D1F39F7D</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>Help you copy the translated text to the clipboard.</string>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>4357B4F8-5E9F-4574-8BC7-7B7075E8DE34</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>415</integer>
			<key>ypos</key>
			<integer>65</integer>
		</dict>
		<key>65FEF5F1-F140-45CC-8078-176475DD8682</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>set up platform api and target language</string>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>35</integer>
		</dict>
		<key>873A57F6-15B7-4E3D-A1E7-533DA90E527F</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>Enter trc and then Use 'use' keyword to set platform. Use 'target' keyword to set target language.</string>
			<key>xpos</key>
			<integer>245</integer>
			<key>ypos</key>
			<integer>35</integer>
		</dict>
		<key>87D6AB39-E3D7-44E7-A1ED-80EEFDF3186E</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>890</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>9F0D68FD-6BE7-4FEF-A7A8-C9DC9BF4F20C</key>
		<dict>
			<key>note</key>
			<string>Hotkeys, you can define them according to your preferences.</string>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>35</integer>
		</dict>
		<key>F6134F60-3011-4706-8F65-DD4E254A1B52</key>
		<dict>
			<key>note</key>
			<string>Hotkeys, you can define them according to your preferences.</string>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>F88F5A42-3801-4D32-BC33-67B09E2A9AFE</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>890</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>FE043C6D-32FE-433F-A9DF-EC68CB70C1AD</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>Enter tr and input something that you want to translate.</string>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>ALIBABA_CLOUD_ACCESS_KEY_ID</key>
		<string></string>
		<key>ALIBABA_CLOUD_ACCESS_KEY_SECRET</key>
		<string></string>
		<key>OPENAI_API_KEY</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>ALIBABA_CLOUD_ACCESS_KEY_SECRET</string>
		<string>OPENAI_API_KEY</string>
		<string>ALIBABA_CLOUD_ACCESS_KEY_ID</string>
	</array>
	<key>version</key>
	<string>0.0.1</string>
	<key>webaddress</key>
	<string>github.com/mohaiyo</string>
</dict>
</plist>
